[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even

[submodule "ghblog"]
	path = public
	url = https://github.com/madlogos/madlogos.github.io.git
	update = rebase
